<br><br>
<div class="alert alert-info" *ngIf="wishlist.length===0">No item in the wishlist</div>
<ng-container *ngIf="wishlist.length>0">
<div class="container" *ngFor="let item of wishlist; let i=index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="card-img" src="assets/img/product.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{item.productName|slice:0:40}}...</h4>
                            <h5 class="card-text">{{item.productPrice|currency:'INR'}}</h5>
                           
                        </div>
                        <div class="card-body del">
                            
                         
                           <button (click)="delete(item.productId)" class="btn btn-primary"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</ng-container>